<form id="login" method="post">
  <input type="email" name="email" value="" placeholder="Tu Email..">
  <input type="password" name="password" value="" placeholder="Tu Contraseña..">
  <input type="submit" value="Login">
</form>


<script type="text/javascript">
//Tomo el formluario por Id
const formLogin = document.getElementById('#login')
//Instancio un formData con los datos del formulario para enviar
const formData = new FormData(formLogin)

console.log('Hola')

//Le agregamos un listener al Formulario
formLogin.addEventListener('submit', event => {
  //Esto es para que el comportamiento del formulario no sea recargar la pagina
  event.preventDefault();
  //Uso fetch para mandar los datos al back
  fetch('/api/signin', {
    method: 'POST',
    body: formData
  })
  //El fetch recibe una promise
  .then(res => res.json())
  .then(data => console.log(data))
})

</script>
